<div class="ui inverted segment">
	<img class="ui centered tiny image" src="{{animated_gif}}">
	<h2 class="ui inverted header centered">
		<div class="content">{{{in_progress}}}</div>
	</h2>
	<div class="ui divider"></div>
	<p>{{{click_confirm}}}</p>
	<p>{{{please_patience}}}</p>
</div>