<span class="ui  {{color}} image {{size}} label">
    <i class="key icon"></i>
    Symbol <div class="detail">{{symbol}}</div>
</span>
<span class="ui  {{color}} image {{size}} label">
    <i class="tag icon"></i>
    Name <div class="detail">{{name}}</div>
</span>
<span class="ui  {{color}} image {{size}} label">
    <i class="database icon"></i>
    Supply <div class="detail">{{supply}}</div>
</span>
<span class="ui  {{color}} image {{size}} label">
    <i class="percent icon"></i>
    Rate <div class="detail">{{rate}}</div>
</span>
